.position-template {
  /*padding: 10px 80px;*/
/*  border: 1px solid black;*/
/*  margin: 30px;
  width: 50%;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#position-title {
  font-size: 30px;
  color: tomato;
}

#position-description {
  font-size: 20px;
  text-align: left;
}

#position-title, #position-company, #position-city, #position-id, #position-date {
  width: 100%;
  margin: 0;
}

#position-title {
  margin: 10px 0;
}

#position-company {
  margin: 10px 0;
}

#position-city {
  margin: 10px 0;
}
