#about-modal-container {
  border: 1px solid black;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  display: none;
  background: white;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  top: 15vh;
  left: 25vw;
  height: 60vh;
  width: 50vw;
}

#about-title {
  font-family: 'Montserrat Alternates', sans-serif;
}

#about-item {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

#about-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

#about-item h3 {
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 2vh;
}

#github {
  background: url('./github.png') no-repeat;
  width: 50px;
  height: 50px;
}

#jaemin {
  background: url('./jaemin.png') no-repeat;
  width: 50px;
  height: 50px;
}

#linkedin {
  background: url('./linkedin.png') no-repeat;
  width: 50px;
  height: 50px;
}

#love {
  margin: 0;
}
