#position-main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 47%;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin: 3vh 1vw;
  padding: 5vh 0;
  /*background: rgba(0, 0, 0, 0.2);*/
  background-color: #FFFFF0;
}

#position-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*background: rgba(0, 0, 0, 0.2);*/
}

#position-main-container:hover {
  border: 3px solid tomato;
  /*background-color:*/
  background: rgba(0, 0, 0, 0.1);
}

#position-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid black;
}

#position-link:hover {
  background-color: black;
  color: white;
}

#position-container-button {
  background: none;
  border: 3px solid black;
  margin-top: 4vh;
  font-size: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#position-container-button:hover {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
