#app-container {
  z-index: 0;
/*  height: 100vh;
  width: 100%;*/
  background-color: black;
}

#top-nav {
  float: left;
}

#app-title {
  color: tomato;
  margin: 5px 0 5px 30px;
  font-family: sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
}

#description-body {
  padding: 20px;
}

/*Modal Background*/
.modal-background {
  z-index: 2;
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .8);
}

#main-page-top-button {
  margin-left: 77vw;
}

.company-btn {
  background: none;
  border: none;
  text-decoration: none;
  color: black;
  margin: 1.5vh .7vw 0 0;
  font-size: 20px;
  color: #fafafa;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
}

.company-btn:hover {
  color: tomato;
}

