#app-container {
  z-index: 0;
/*  height: 100vh;
  width: 100%;*/
  background-color: #F0F8FF;
}

#top-nav {
  float: left;
}

#app-title {
  color: tomato;
  margin: 5px 0 5px 15px;
  font-family: sans-serif;
}

#description-body {
  padding: 20px;
}

/*Modal Background*/
.modal-background {
  z-index: 2;
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .8);
}

#main-page-top-button {
  margin-left: 85vw;
}

.company-btn {
  background: none;
  border: none;
  text-decoration: none;
  color: black;
  margin-top: 1vh;
  font-size: 20px;
}
