#company-modal-container {
  border: 1px solid black;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  display: none;
  background: white;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  top: 15vh;
  left: 25vw;
  height: 60vh;
  width: 50vw;
}
