#company-modal-container {
  border: 1px solid black;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  display: none;
  background: white;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  top: 15vh;
  left: 25vw;
  height: 60vh;
  width: 50vw;
}

#register-title-company {
  font-family: 'Montserrat Alternates', sans-serif;
}

#signin-title-company {
  font-family: 'Montserrat Alternates', sans-serif;
}

#register-items-company {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
}

.company-input {
  margin: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#first-company-register-button {
  background-color: tomato;
  padding: 3px 63px;
  border: none;
  margin: 0 5px 0 4px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;

}

#first-company-register-button:hover {
  font-style: italic;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

/*Reference from codepen: https://codepen.io/ibrahimjabbari/pen/ozinB*/
#line-style-two {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.company-input-sign-in {
  margin: 5px;
}

#second-company-register-button {
  background-color: tomato;
  padding: 3px 58px;
  border: none;
  margin: 8px 5px 0 4px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
}

#second-company-register-button:hover {
  font-style: italic;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}
